<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      予約済み施設一覧
      </h1>
    </div>
  </div>
</section>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>合計料金</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日時</th>
    </tr>
  </thead>
  <tbody>
  <% if @reservation == true %>
    <% @reservations.each do |reservation| %>
      <tr>
        <td>
        <% if @room.image.attached? %>
            <figure class="image is-4by3">
                <%= image_tag @room.image %>
            </figure>
        <% else %>
            <figure class="image is-4by3">
                <%= image_tag "default-room.png" %>
            </figure>
        <% end %>
        </td>
        <td><%= link_to reservation.room.name , room_path(reservation) %></td>
        <td><%= reservation.room.introduce %></td>
        <td>¥<%= reservation.total_price %></td>
        <td><%= reservation.start_date.strftime("%Y/%m/%d") %></td>
        <td><%= reservation.end_date.strftime("%Y/%m/%d") %></td>
        <td><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td>
          <%= link_to "予約を削除" , reservation , method: :delete , data: { comfilm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <td>現在登録している施設はありません</td>
  <% end %>
  </tbody>
</table>
