<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        宿泊施設一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @rooms.each do |room| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
                <%= image_tag @room.image %>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <%= room.address %>
                </div>
                <div class="media-content">
                  <%= room.introduce %>
                </div>
              </div>
              <div class="content">
                <price>¥<%= room.single_rate %>〜</price>
              </div>
              <%= link_to "詳細はこちら", room_path(room), class: "button is-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
